<div class="col">
  <div class="border border-dark m-1 p-3" *ngFor="let quotes of allQuotes">
    <p>{{quotes.text}}</p>
    <p><strong>{{quotes.author}}</strong></p>
    <a class="btn btn-secondary p-2" routerLink="{{quotes.id}}/edit"  >Edit</a>&nbsp;
    <a class="btn btn-danger p-2" (click)="onDelete(quotes.id)">Delete</a>
  </div>
</div>
