<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand " routerLink="/">Quotes central</a>
    <div id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active border-right" aria-current="page"
             routerLink="quotes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-quotes" routerLinkActive="active">Submit new quote</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

