<form (ngSubmit)="onSave()" class="col-6 m-3" >
  <h4>Add new post</h4>
  <div class="mb-3 ">
    <label for="exampleFormControlSelect1">Category</label> <br>
    <select class="form-control" id="exampleFormControlSelect1" #category >
      <option value="star-war">Star Wars</option>
      <option value="famous-people">Famous people</option>
      <option value="saying">Saying</option>
      <option value="humour">Humour</option>
      <option value="motivational">Motivational</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="title">Autor</label> <br>
    <input type="text" name="title" id="title" class="pr-5 pl-4" [(ngModel)]="author">
  </div>
  <div class="mb-3  ">
    <label for="description">Quotes text</label> <br>
    <textarea name="description" id="description" cols="30" rows="5" [(ngModel)]="quotesText"></textarea>
  </div>
  <button type="submit" class="pr-3 shadow-sm" >Save</button>
</form>


