<div class="row mt-2">
  <div class="col-3 mt-2">
    <ul class="list-group">
      <li class="list-group-item bg-light m-1" ><a routerLink="/"
                                                   routerLinkActive="active"
                                                   [routerLinkActiveOptions]="{exact:true}"
      >All</a></li>
      <li class="list-group-item bg-light m-1" ><a routerLink="/quotes/star-war"
                                                   routerLinkActive="active"
      >Star Wars</a></li>
      <li class="list-group-item bg-light m-1" ><a routerLink="quotes/famous-people"
                                                   routerLinkActive="active"
     >Famous people</a></li>
      <li class="list-group-item bg-light m-1" ><a routerLink="quotes/saying"
                                                   routerLinkActive="active"
      >Saying</a></li>
      <li class="list-group-item bg-light m-1" ><a routerLink="quotes/humor"
                                                   routerLinkActive="active"
      >Humour</a></li>
      <li class="list-group-item bg-light m-1" ><a routerLink="quotes/motivational"
                                                   routerLinkActive="active"
      >Motivational</a></li>
    </ul>
  </div>
  <div class="col-5 mt-2">
    <h4>All</h4>
    <app-quotes-list></app-quotes-list>
  </div>
  <div class="col-3">
    <router-outlet></router-outlet>
  </div>
</div>





